@use './variables.scss' as *;

.group {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .img_container {
    position: relative;

    .img {
      border-radius: .5rem;
      object-fit: contain;
      min-height: 100%;
    }
  }
  .card {
    width: 180px;
    position: absolute;
    right: 0;
    bottom: 2px;
    background-color: $about_card_bg_color;
    padding: 1rem 0.75rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;

    .card_title {
      font-size: $h3-font-size;
      margin-bottom: 0.5rem;
    }
    .card_description {
      font-size: $normal-font-size;
    }
  }
  .data {
    margin-top: 2rem;

    .title {
      margin-bottom: 1rem;
    }
    .description {
      margin-bottom: 2rem;
    }
    .button {
      display: inline-block;
      background-color: $first-color;
      color: $white-color;
      padding: 1rem 2rem;
      border-radius: 0.25rem;
      font-size: $normal-font-size;
      transition: 0.3s;

      &:hover {
        background-color: $first-color-alt;
        cursor: pointer;
      }
    }
  }



}






