// Variables
  //Colors
  $first-color: hsl(219, 69%, 56%);
  $first-color-alt: hsl(219, 69%, 52%);
  $title-color: hsl(219, 8%, 95%);
  $text-color: hsl(219, 8%, 75%);
  $text-color-light: hsl(219, 4%, 55%);
  $white-color: #fff;
  $body-color: hsl(219, 4%, 4%);
  $container-color: hsl(219, 4%, 7%);

  $home_button_color: hsl(158, 89%, 30%);
  $home_button_color_light: hsl(158, 98%, 43%);

  //Typography
  $h1-font-size: 1.5rem;
  $h2-font-size: 1.25rem;
  $h3-font-size: 1rem;
  $normal-font-size: 0.938rem;
  $h4-font-size: 0.813rem;
  $h5-font-size: 0.75rem;

  $font-medium: 500;
  $font-semibold: 600;